<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createCar'}" class="btn btn-success">Create new car</router-link>
        </div>
 
        <div class="panel panel-default">
            <div class="panel-heading">Car list</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Category</th>
                        <th>Fuel</th>
                        <th>Seats</th>
                        <th>Transmission</th>
                        <th width="100">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="car, index in cars">
                        <td>{{ car.brand }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.category }}</td>
                        <td>{{ car.fuel }}</td>
                        <td>{{ car.seats }}</td>
                        <td>{{ car.transmission }}</td>
                        <td>
                            <router-link :to="{name: 'editcar', params: {id: car.id}}" class="btn btn-xs btn-default">
                                Edit
                            </router-link>
                            <a href="#"
                               class="btn btn-xs btn-danger"
                               v-on:click="deleteEntry(car.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data: function () {
            return {
                cars: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/cars')
                .then(function (resp) {
                    app.cars = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load cars");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v1/cars/' + id)
                        .then(function (resp) {
                            app.cars.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete car");
                        });
                }
            }
        }
    }
</script>