<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Create new car</div>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="category" class="control-label">Car category</label>
                            <select type="text" v-model="car.category" class="form-control" id="category">
                                    <option>Economy</option>
                                    <option>Compact</option>
                                    <option>Intermediate</option>
                                    <option>Pickup</option>
                                    <option>Full Size</option>
                                    <option>Premium</option>
                                    <option>Intermediate SUV</option>
                                    <option>Standard SUV</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="fuel" class="control-label">Car fuel</label>
                            <select type="text" v-model="car.fuel" class="form-control" id="fuel">
                                    <option>Diesel</option>
                                    <option>Gasoline</option>
                                    <option>Electric</option>
                                    <option>GPL</option>
                                    <option>Hybrid</option>
                                    <option>Premium</option>
                                    <option>Full Electrical</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="seats" class="control-label">Car seats</label>
                            <select type="text" v-model="car.seats" class="form-control"id="seats">
                                    <option>2</option>
                                    <option>2+</option>
                                    <option>5</option>
                                    <option>7</option>
                                    <option>7+</option>
                            </select>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="transmission" class="control-label">Car transmission</label>
                            <select type="text" v-model="car.transmission" class="form-control" id="transmission">
                                    <option>Manual</option>
                                    <option>Semi-automatic</option>
                                    <option>Automatic</option>
                            </select>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                car: {
                    category: '',
                    fuel: '',
                    seats: '',
                    transmission: '',
                }
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newCar = app.car;
                axios.post('/api/v1/cars', newCar)
                    .then(function (resp) {
                        app.$router.push({path: '/'});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your car");
                    });
            }
        }
    }
</script>